<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="cont" style=" background-color: white;  height: 80px; display: flex; align-items: center; justify-content: center;"> -->
    <div style=" display: flex; justify-content: center; gap:20px;">
       <a style=" font-family: Helvetica; font-weight: 500; font-size:12px; background-color: #D8A0A6; padding: 5px 20px; color: white; cursor: pointer;" href="https://www.constanceanddenny.com/napkins"><button>DINE</button></a>
       <a style=" font-family: Helvetica; font-weight: 500; font-size:12px; background-color: #D8A0A6; padding: 5px 20px; color: white; cursor: pointer;" href="https://www.constanceanddenny.com/block-printed-quilts"><button>BED</button></a>
       <a style=" font-family: Helvetica; font-weight: 500; font-size:12px; background-color: #D8A0A6; padding: 5px 20px; color: white; cursor: pointer;" href="https://www.constanceanddenny.com/vintage-kanthas"><button>HOME DECOR</button></a>
       <a style=" font-family: Helvetica; font-weight: 500; font-size:12px; background-color: #D8A0A6; padding: 5px 20px; color: white; cursor: pointer;" href="https://www.constanceanddenny.com/shop-4"><button>INDIAN REVERSE PAINTINGS</button></a>
       <a style=" font-family: Helvetica; font-weight: 500; font-size:12px; background-color: #D8A0A6; padding: 5px 20px; color: white; cursor: pointer;" href="https://www.constanceanddenny.com/washbags"><button>LIFE</button></a>
    </div>
</div>
</body>
</html>